www.realspanishstories.com {
    redir https://realspanishstories.com{uri} permanent
}

realspanishstories.com {
    handle /api/* {
        reverse_proxy localhost:3001
    }

    handle {
        reverse_proxy localhost:3000
    }

    encode gzip zstd

    log {
        output file /var/log/caddy/access.log
        format json
    }
}
