realspanishstories.com, www.realspanishstories.com {
    @www host www.realspanishstories.com
    redir @www https://realspanishstories.com{uri} permanent

    handle /api/* {
        reverse_proxy localhost:3001
    }

    handle {
        reverse_proxy localhost:3000
    }

    encode gzip zstd

    log {
        output file /var/log/caddy/access.log
        format json
    }
}
